<p id="who">
  <strong>Who:</strong>
  The course is aimed at graduate students at Emory in the sciences and humanities, as well as other researchers.
  <strong>
    You don't need to have any previous knowledge of the tools
    that will be presented at the workshop.
  </strong>
  Please note <strong> because our funding is from Laney graduate school, 
  we unfortunately have to limit enrollment for this, our first workshop,
  to students in Laney (note this includes BME!).</strong>
  We plan to hold more workshops in the near future where we can happily include others.
  Thank you for understanding.
</p>
