<p id="who">
  <strong>Who:</strong>
  The course is aimed at graduate students at Emory in the sciences and humanities, as well as other researchers.
  <strong>
    You don't need to have any previous knowledge of the tools
    that will be presented at the workshop.
  </strong>
  Please note <strong> we unfortunately have to limit enrollment for this, our first workshop,
  to Emory and Georgia Tech (e.g. BME).</strong>
  We hope to hold more workshops in the near future where we can happily include guests.
  Thank you for understanding.
</p>
